<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Panda - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>About Pixel Panda</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li>
                    <a href="/webdev">Web Development</a>
                    <ul class="submenu">
                        <li><a href="/html">HTML Basics</a></li>
                        <li><a href="/css">CSS Fundamentals</a></li>
                        <li><a href="/javascript">JavaScript</a></li>
                        <li><a href="/design">Responsive Design</a></li>
                        <li><a href="/demo1">Demo 1</a></li>
                        <li><a href="/demo2">Demo 2</a></li>
                    </ul>
                </li>
                <li><a href="/music">Music</a></li>
                <li><a href="/video_games">Video Games</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <img src="{{ url_for('static', filename='images/panda.png') }}" alt="Panda" style="width:10%; height:10%;">
    <main>
        <section>
            <h2>Insights and Mission</h2>
            <p>At Panda Pixels, our mission is simple yet powerful: to inspire creativity, foster innovation, and cultivate a vibrant community of tech, music, and gaming enthusiasts. I believe in the transformative power of passion and the boundless possibilities of collaboration.</p>
            <p>Pixel Panda, brings a unique perspective shaped by the architect of this website, my personal journey with high functioning Autism and mild Epilepsy. My perspective is not just distinct, but filled with a sense of magic, mystery and wonder. It’s an adventure teeming with imagination, profound insights and ideas. I'm passionate about music, technology, and video games. Currently, I'm expanding my knowledge in Network Architecture, Web Development, and general Computing, with a special interest in Python programming. My diverse interests allow me to bring a unique perspective to my work, hobbies, thoughts and philosophies.</p>
        </section>
    </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
