<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Panda - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Pixel Panda</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li>
                <a href="/webdev">Web Development</a>
                <ul class="submenu">
                    <li><a href="/html">HTML Basics</a></li>
                    <li><a href="/css">CSS Fundamentals</a></li>
                    <li><a href="/javascript">JavaScript</a></li>
                    <li><a href="/design">Responsive Design</a></li>
                    <li><a href="/animation">Animation Techniques</a></li>
                    <li><a href="/demo1">Demo 1</a></li>
                    <li><a href="/demo2">Demo 2</a></li>
                </ul>
            </li>
            <li><a href="/music">Music</a></li>
            <li><a href="/video_games">Video Games</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>




    <img src="{{ url_for('static', filename='images/panda.png') }}" alt="Panda" style="width:10%; height:10%;">
    <p>Explore the intersection of music, technology, and gaming.</p>

    <main>
        <section>
            <h2>Featured Content</h2>
            <p>Welcome to Panda Pixels! Dive into a world where tech meets creativity, and passion fuels innovation. At Panda Pixels, it's more than just a platform it's a community united by the love of technology, music, and video games.</p>
            <p>Pixel Panda's creator is passionate about music, technology, and video games. Currently, I'm are expanding my knowledge in Network Architecture, Web Development, and General Computing, with a special interest in Python programming. My diverse interests allow me to bring a unique perspective to my work and hobbies.</p>
            <p>As a tech enthusiast, I have a keen understanding of the fundamentals of web development, including HTML, CSS, JavaScript, python and design principles. This website showcases my web development project (this website), demonstrating my skills and dedication to creating functional, aesthetically pleasing websites.</p>
        </section>

        <section>
            <h2>Latest Updates</h2>
            <!-- Placeholder for latest updates -->
            <p>Behind every pixel of Panda Pixels is dedication to tech, music, and video gaming. Stay tuned and get to know the person behind the brand and discover the diverse talents driving Panda Pixels forward.</p>
        </section>
    </main>


    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
