<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Frameworks</title>
</head>
<body>
    <header>
        <h1>JavaScript Frameworks</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    </header>

    <main>
        <section>
            <h2>Introduction to JavaScript Frameworks</h2>
            <p>JavaScript frameworks are libraries or collections of pre-written JavaScript code used to simplify the development of web applications.</p>
            <p>Discover popular JavaScript frameworks like React, Angular, and Vue.js, and learn how they can streamline your development process.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Pixel Panda. All rights reserved.</p>
    </footer>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
