<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Panda - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Portfolio</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/webdev">Web Development</a></li>
            <li><a href="/video_games">Video Games</a></li>
        </ul>
    </nav>
<p>Explore our creative journey and discover the projects that define us.</p>
    <main>
        <section>
            <h2>Portfolio Showcase</h2>
           <p>Currently, pursuing intensive network architecture training focused on computing, physical networks, cloud engineering, development and systems administration software(HTML, CSS, JavaScript, Python, PowerShell, Bash), business processes (CICD), ops, and version control (Git/GitHub). Proven technical aptitude includes PC/laptop refurbishment, OS proficiency Windows and Linux, secure data handling, and vintage computing specialization with byte-bashing techniques. Passionate about AI (LM Studio/Stable Diffusion), home network optimization (OpenWrt), and penetration testing. For further information please navigate to the contacts page.</p>

            <div class="project">
                <h3>Network Fundamentals Mastery</h3>
                <p>Dive into the essentials of networking... </p>
                <img src="images/placeholder_network.jpg" alt="Network Course Screenshot">
                <ul>
                    <li>Interactive lessons and quizzes</li>
                    <li>Hands-on network configuration activities</li>
                    <li>Certificate of completion</li>
                </ul>
            </div>

            <div class="project">
                <h3>Retro Rocket Blastoff</h3>
                <p>Pilot your spaceship through an asteroid field... </p>
                <img src="images/placeholder_game.jpg" alt="PyGame Screenshot">
                <ul>
                    <li>Fast-paced, responsive controls</li>
                    <li>Power-ups and score tracking</li>
                    <li>Original pixel art graphics</li>
                </ul>
            </div>
            <p>Stay tuned for updates.</p>
        </section>
    </main>

    <footer>
        <p>© 2024 Pixel Panda. All rights reserved.</p>
        <p>Website designed and developed by Pixel Panda</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
