<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Fundamentals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>CSS Fundamentals</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li>
                <a href="/webdev">Web Development</a>
                <ul class="submenu">
                    <li><a href="/html">HTML Basics</a></li>
                    <li><a href="/css">CSS Fundamentals</a></li>
                    <li><a href="/javascript">JavaScript</a></li>
                    <li><a href="/design">Responsive Design</a></li>
                    <li><a href="/animation">Animation Techniques</a></li>
                    <li><a href="/demo1">Demo 1</a></li>
                    <li><a href="/demo2">Demo 2</a></li>
                </ul>
            </li>
            <li><a href="/music">Music</a></li>
            <li><a href="/video_games">Video Games</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Introduction to CSS</h2>
            <p>CSS (Cascading Style Sheets) is a style sheet language used for describing the presentation of a document written in HTML.</p>
            <p>Explore the fundamentals of CSS, including selectors, properties, and values, to style and enhance the appearance of your web pages.</p>
            <p>CSS, or Cascading Style Sheets, is the design language used alongside HTML in web documents. It controls the presentation aspects like colors, fonts, layouts, and spacing. Understanding CSS involves grasping selectors, properties, and values. Selectors target HTML elements for styling, properties define visual aspects, and values determine appearance specifics. Mastering CSS empowers users to create visually appealing and structured web pages, offering flexibility for customization to suit preferences and audience needs.</p>
        </section>
        <section>
            <h2>CSS Examples</h2>
            <div class="gallery">
                <img src="{{ url_for('static', filename='images/css.png') }}" alt="Screenshot 0" style="width: 35%; height: 35%;">
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
